@font-face {
    font-family: 'Saira'; 
    src: url('../SairaCondensed-Regular.ttf') format('truetype'); 
  }

.events-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: #F0F0F0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
}
  
  .events-content {
    margin-top: 30px;
    text-align: center;
    font-family: 'Saira';
  }

  .content-text h2 {
    font-family:'Saira';
}
  
  .content-text {
    font-family: 'Saira';
    margin-bottom: 40px;
  }
  
  .content-text h2 {
    color: #343a40;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .content-text p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .event-buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .button-link {
    display: inline-block;
    background-color: #8edd91;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 0 10px;
  }
  
  .button-link:hover {
    background-color: #4caf50;
  }
  