@font-face {
  font-family: 'Saira'; 
  src: url('../SairaCondensed-Regular.ttf') format('truetype'); 
}

.home-container {
  font-family: 'Saira';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f1f3f4; 
  color: #343a40; 
}

.home-container h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.horizontal-box, .vertical-box {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.horizontal-box p, .vertical-box p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.vertical-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vertical-box {
  flex-basis: 100%; 
}

.vertical-box.our-story {
  background-color: #f1f3f4; 
}

.vertical-box.birthday-package {
  background-color: #d1e7dd; 
}

.vertical-box.pricing {
  background-color: #f1f3f4; 
}

.vertical-box ul {
  list-style-type: none;
  padding-left: 0;
}

.vertical-box li {
  margin-bottom: 10px;
}

.vertical-box li b {
  font-weight: bold;
}

.vertical-box i {
  font-style: italic;
}
