@font-face {
  font-family: 'Saira'; 
  src: url('../SairaCondensed-Regular.ttf') format('truetype'); 
}

.scene-container {
  position: relative;
  width: 100vw;
  min-height: calc(100vh - 100px); /* Ensure it takes the full height minus footer */
  padding-bottom: 100px; /* Prevent overlap with footer */
}

.menu-container {
  font-family: 'Saira';
  display: flex;
  flex-direction: column; /* Column for mobile */
  justify-content: space-between;
  padding: 40px 20px 30px 20px; /* Adjust padding for mobile */
  font-size: 16px;
  color: #333;
  text-align: left;
}

.menu-category {
  width: 100%; /* Full width for mobile */
  margin-bottom: 40px;
}

.category-title {
  display: block;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.menu-columns {
  display: flex;
  flex-direction: column; /* Column for mobile */
  justify-content: space-between;
}

.menu-column {
  flex: 1;
  margin-bottom: 20px;
}

.menu-item {
  margin-bottom: 20px;
}

.renderer-container {
  width: 100%; /* Full width for mobile */
  height: auto; /* Auto height for mobile */
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto; /* Center on mobile */
}

.menu-toppings {
  font-size: 16px;
  color: #333;
  padding-top: 10px;
  margin-bottom: 50px; /* Add margin to avoid footer overlap */
}

.menu-toppings strong {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.menu-toppings p {
  padding-top: 10px; /* Add padding */
}

@media (min-width: 769px) {
  .scene-container {
    min-height: auto; /* Override for larger screens */
    padding-bottom: 0; /* Override for larger screens */
  }

  .menu-container {
    flex-direction: row; /* Row for larger screens */
    flex-wrap: wrap; /* Allow wrapping */
  }

  .menu-category {
    width: calc(33.33% - 40px); /* Three columns */
    margin: 20px; /* Add margin for spacing */
  }

  .menu-columns {
    flex-direction: row; /* Row for larger screens */
  }

  .renderer-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 400px;
  }

  .menu-toppings {
    position: absolute;
    bottom: -50px;
    left: 20px;
  }
}